
<div class="navbar-box" cdkDrag>
  <div class="navbar">
    <a href="#home">WebAlgo</a>&nbsp;&nbsp;
    <table class="live-index" style="width: auto; background-color: rgb(233, 239, 248);">
      <tr><td >NIFTY : 15750.00</td>&nbsp;
        <td >BN Nifty : 15750.00</td>&nbsp;
        <td >FIN Nifty : 15750.00</td>&nbsp;
        <td >MidCap Nifty : 15750.00</td>&nbsp;
      </tr>
      <tr><td>+350  1.45%</td>&nbsp;
        <td >+350  1.45%</td>&nbsp;
        <td >+350  1.45%</td>&nbsp;
        <td >+350  1.45%</td>&nbsp;
      </tr>
    </table>
  </div>
</div>  
  
<div class="sidebar-box" >
  <div class="sidebar">
    <ul class="sidebar-list">
      <li>
        <mat-icon>video_label</mat-icon>
      </li>
      <li>
        <mat-icon>settings</mat-icon>
      </li>

    </ul>
  </div>
  
</div>

<!-- <script>
  var toggleClick = document.querySelector(".sidebar-box");
  toggleClick.addEventListener('click', ()=> {
    toggleClick.classList.toggle('active');
  })
</script> -->
