
<div class="navbar-box" cdkDrag>
  <div class="navbar">
    <a href="#home">WebAlgo</a>&nbsp;&nbsp;
    <table class="live-index" style="width: auto; background-color: rgb(233, 239, 248);">
      <tr><td style="background-color: rgb(184, 217, 243);">NIFTY : 15750.00</td>&nbsp;
        <td style="background-color: rgb(184, 217, 243);">BN Nifty : 15750.00</td>&nbsp;
        <td style="background-color: rgb(184, 217, 243);">FIN Nifty : 15750.00</td>&nbsp;
        <td style="background-color: rgb(184, 217, 243);">MidCap Nifty : 15750.00</td>&nbsp;
      </tr>
      <tr><td style="background-color: rgb(184, 217, 243);">+350  1.45%</td>&nbsp;
        <td style="background-color: rgb(184, 217, 243);">+350  1.45%</td>&nbsp;
        <td style="background-color: rgb(184, 217, 243);">+350  1.45%</td>&nbsp;
        <td style="background-color: rgb(184, 217, 243);">+350  1.45%</td>&nbsp;
      </tr>
    </table>
  </div>
</div>  
  
<div class="sidebar-box" >
  <div class="sidebar">
    <ul class="sidebar-list">
      <li>
        
        <i class="fa-solid fa-money-bill"></i>
      </li>
      
    </ul>
  </div>
  
</div>

<script>
  var toggleClick = document.querySelector(".sidebar-box");
  toggleClick.addEventListener('click', ()=> {
    toggleClick.classList.toggle('active');
  })
</script>
