<mat-toolbar>
  <button mat-icon class="btn-color" aria-label="Example icon-button with menu icon">
    <mat-icon mat-button (click)="drawer.toggle()">menu
      
    </mat-icon>
  </button>
  
  <span>Web Algo</span>
  <button> Login </button>  
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="sidenav">
      <ul class="nav-list">
          <li class="nav-list-item" *ngFor = "let item of navdata">
              <span>
              <a href="/terminal"> {{item.lable}}</a>
              </span>
          </li>
      </ul>
  </div>
  </mat-drawer>

</mat-drawer-container>
