@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

.sidenav {
  background-color: antiquewhite;
    transition: all .5s ease;
    z-index: 100;
    top: 0;
    width: 10rem;
    height: 100vh;
    box-shadow: 0.63rem 0 1.25rem 0 lightgray;
  }
  